version: 2
workflows:
  version: 2
  tests:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - publish_image:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d+\.\d+\.\d+$/
jobs:
  build:
    docker:
      - image: ubuntu:16.04
    steps:
      - checkout
      - run:
          name: Install protoc.
          command: |
            apt-get update && apt-get install -y curl unzip
            curl -o ~/protoc3.zip -L https://github.com/google/protobuf/releases/download/v${PROTO_VERSION}/protoc-${PROTO_VERSION}-linux-x86_64.zip
            unzip ~/protoc3.zip -d ~/protoc3
            mv ~/protoc3/bin/* /usr/local/bin/
            mv ~/protoc3/include/* /usr/local/include/
          environment:
            PROTO_VERSION: 3.6.1
      - run:
          name: Verify that the protos compile.
          command: protoc --proto_path=. google/**/*.proto -o /tmp/google.desc
  publish_image:
    docker:
      - image: google/cloud-sdk
    steps:
      - checkout
      - run:
          name: Build Docker image.
          command: docker build . \
            -t gcr.io/gapic-images/api-common-protos:${CIRCLE_TAG} \
            -t gcr.io/gapic-images/api-common-protos:latest
      - run:
          name: Set up authentication to Google Container Registry.
          command: |
            echo ${GCLOUD_SERVICE_KEY} > ${GOOGLE_APPLICATION_CREDENTIALS}
            gcloud auth configure-docker
      - run:
          name: Push Docker image to Google Container Registry.
          command: |
            docker push gcr.io/gapic-images/api-common-protos:${CIRCLE_TAG}
            docker push gcr.io/gapic-images/api-common-protos:latest
