version: 2
workflows:
  version: 2
  tests:
    jobs:
      - compile:
          filters:
            tags:
              only: /.*/
      - publish_image:
          requires:
            - compile
          filters:
            branches:
              only:
                - input-contract
                - master
            tags:
              only: /^\d+\.\d+\.\d+$/
jobs:
  compile:
    docker:
      - image: ubuntu:16.04
    steps:
      - checkout
      - run:
          name: Install protoc.
          command: |
            apt-get update && apt-get install -y curl unzip
            curl -o ~/protoc3.zip -L https://github.com/google/protobuf/releases/download/v${PROTO_VERSION}/protoc-${PROTO_VERSION}-linux-x86_64.zip
            unzip ~/protoc3.zip -d ~/protoc3
            mv ~/protoc3/bin/* /usr/local/bin/
            mv ~/protoc3/include/* /usr/local/include/
          environment:
            PROTO_VERSION: 3.6.1
      - run:
          name: Verify that the protos compile.
          command: protoc --proto_path=. google/**/*.proto -o /tmp/google.desc
  publish_image:
    docker:
      - image: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image.
          command: |
            docker build . -t gcr.io/gapic-images/api-common-protos:latest
      - run:
          name: Download curl
          command: apk add --no-cache curl
      - run:
          name: Download the GCR credential helper.
          command: |
            curl -fsSL https://github.com/GoogleCloudPlatform/docker-credential-gcr/releases/download/v1.5.0/docker-credential-gcr_linux_amd64-1.5.0.tar.gz \
              | tar xz --to-stdout ./docker-credential-gcr \
              > /usr/bin/docker-credential-gcr && chmod a+x /usr/bin/docker-credential-gcr
      - run:
          name: Set up authentication to Google Container Registry.
          command: |
            echo ${GCLOUD_SERVICE_KEY} > ${GOOGLE_APPLICATION_CREDENTIALS}
            docker-credential-gcr configure-docker
      - run:
          name: Tag the Docker image and push it to Google Container Registry.
          command: |
            if [ -n "$CIRCLE_TAG" ]; then
              export MAJOR=`echo $CIRCLE_TAG | awk -F '.' '{ print $1; }'`
              export MINOR=`echo $CIRCLE_TAG | awk -F '.' '{ print $2; }'`
              export PATCH=`echo $CIRCLE_TAG | awk -F '.' '{ print $3; }'`
              docker tag gcr.io/gapic-images/api-common-protos:latest gcr.io/gapic-images/api-common-protos:$MAJOR.$MINOR.$PATCH
              docker tag gcr.io/gapic-images/api-common-protos:latest gcr.io/gapic-images/api-common-protos:$MAJOR.$MINOR
              docker tag gcr.io/gapic-images/api-common-protos:latest gcr.io/gapic-images/api-common-protos:$MAJOR
              docker push gcr.io/gapic-images/api-common-protos:$MAJOR.$MINOR.$PATCH
              docker push gcr.io/gapic-images/api-common-protos:$MAJOR.$MINOR
              docker push gcr.io/gapic-images/api-common-protos:$MAJOR
              docker push gcr.io/gapic-images/api-common-protos:latest
            elif [ "$CIRCLE_BRANCH" == "master" ]; then
              docker push gcr.io/gapic-images/api-common-protos:latest
            elif [ "$CIRCLE_BRANCH" == "input-contract" ]; then
              docker tag gcr.io/gapic-images/api-common-protos:latest gcr.io/gapic-images/api-common-protos:beta
              docker push gcr.io/gapic-images/api-common-protos:beta
            fi
